body {
    background-color: rgb(201, 229, 238);
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(38, 42, 95);
    text-align: left;
  }

h2 {
    color: rgb(155, 81, 47);
    text-align: left;
}

h3 {
    color: rgb(155, 81, 47);
    text-align: left;
}

h4 {
    color: rgb(155, 81, 47);
    text-align: left;
}